<div  class="relative">
    <img id="manneke" src="../../../assets/body.PNG">
    <!--<div class="absolute">This div element has position: absolute;</div>-->
    <img (click)="clickRHand()"  src="../../../assets/{{rArm}}.PNG" class="absoluteRechterArm">
    <img (click)="clickLHand()" src="../../../assets/{{lArm}}.PNG" class="absoluteLinkerArm">
    <img (click)="clickLBeen()" src="../../../assets/{{lBeen}}.PNG" class="absoluteLinkerBeen">
    <img (click)="clickRBeen()" src="../../../assets/{{rBeen}}.PNG" class="absoluteRechterBeen">
</div>
<div class="instructies">
    <h3 style="color:blue">Instructies:</h3>
    <h4>Klik op het lichaamsdeel wat je niet kan gebruiken</h4>
    <h5>Als het lichaamsdeel <span style="color:#00b3ee">GEEL</span> kleurt dan heb je geselecteerd dat je dat lichaamsdeel niet kan gebruiken</h5>
    <img style="margin-left: 100px" src="../../../assets/rArmDisabled.PNG" >
    <h4> Als je je beperkingen hebt geselecteerd , klik dan in het menu op instructies</h4>
</div>